/* Cart */
.cart{
    font-family: $roboto;
    position: fixed;
    top: 80px;
    left: 100%;
    width: 100%;
    background-color: white;
    height: 100%;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    font-family: $sparta;
    &__header{
        display: flex;
        justify-content: space-between;
        > h2{
            color: rgb(58, 58, 58);
            font-weight: 900;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        >i{
            font-size: 32px;
            cursor: pointer;
            transition: .3s;
            &:hover{
                color: gray;
            }
        }
    }
}